rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (
          (request.auth.token.get('email', '') == "seema.nagdev16@gmail.com") ||
          (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin')
        );
    }

    // Public Collections - allow read to everyone
    match /events/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /venues/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /hotels/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Private Collections
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /bookings/{bookingId} {
      allow get: if true; // Allow guests to view invitation details via link
      allow read: if isAuthenticated() && (request.auth.uid == resource.data.userId || isAdmin());
      allow create: if isAuthenticated() && request.resource.data.userId == request.auth.uid;
      allow update: if (isAdmin()) || 
                      (isAuthenticated() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['details']) && 
                       request.resource.data.details.diff(resource.data.details).affectedKeys().hasOnly(['guests']));
      allow delete: if isAdmin();
    }
    
    // No catch-all needed if everything is explicitly defined
  }
}
